/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  --color-foreground-neutral: #f2ffff;
  --color-foreground-neutral-faded: #828ea7;
  --color-foreground-primary: #75b9ff;
  --color-foreground-critical: #ff7b7b;
  --color-foreground-warning: #ff9561;
  --color-foreground-positive: #71d887;
  --color-foreground-upgrade: #ca8bff;
  --color-foreground-disabled: #49546b;
  --color-foreground-neutral-placeholder: #657088;
  --color-background-elevation-base: #0c162e;
  --color-background-elevation-raised: #101b33;
  --color-background-elevation-overlay: #152038;
  --color-background-neutral: #91a0c013;
  --color-background-neutral-faded: #91a0c00b;
  --color-background-neutral-highlighted: #91a0c01b;
  --color-background-page: #0c162e;
  --color-background-page-faded: #081129;
  --color-background-primary: #104fc6;
  --color-background-primary-highlighted: #0038ae;
  --color-background-primary-faded: #5699ff1f;
  --color-background-critical: #c50027;
  --color-background-critical-highlighted: #ac000f;
  --color-background-critical-faded: #ff595d1f;
  --color-background-warning: #d0571e;
  --color-background-warning-highlighted: #b84100;
  --color-background-warning-faded: #f175411f;
  --color-background-positive: #008236;
  --color-background-positive-highlighted: #006d21;
  --color-background-positive-faded: #50b7691f;
  --color-background-upgrade: #7f22fe;
  --color-background-upgrade-highlighted: #6d00e5;
  --color-background-upgrade-faded: #ac67ff1f;
  --color-background-blur: #0c162ef2;
  --color-background-blur-neutral: #f4f5f7f2;
  --color-background-blur-neutral-highlighted: #0e1831f2;
  --color-background-disabled: #91a0c013;
  --color-background-disabled-faded: #141a2b05;
  --color-background-focus-highlight: #d0e2ff;
  --color-border-neutral: #efffff26;
  --color-border-neutral-faded: #efffff13;
  --color-border-primary: #75b9ff;
  --color-border-primary-faded: #3978f34d;
  --color-border-critical: #ff7b7b;
  --color-border-critical-faded: #e2333f4d;
  --color-border-warning: #ff9561;
  --color-border-warning-faded: #ce551c4d;
  --color-border-positive: #71d887;
  --color-border-positive-faded: #2b984b4d;
  --color-border-upgrade: #ca8bff;
  --color-border-upgrade-faded: #8f40ff4d;
  --color-border-disabled: #dfe2ea;
  --color-border-focus: #75b9ff;
  --color-border-focus-faded: #3978f34d;
  --color-on-background-neutral: #ffffff;
  --color-persistent-black: #000000;
  --color-foreground-decorative-blue: #66bbff;
  --color-background-decorative-blue-faded: #4699ff1f;
  --color-border-decorative-blue-faded: #2479f84d;
  --color-foreground-decorative-cyan: #06d4f3;
  --color-background-decorative-cyan-faded: #00b4d21f;
  --color-border-decorative-cyan-faded: #0094b24d;
  --color-foreground-decorative-fuchsia: #ff65ff;
  --color-background-decorative-fuchsia-faded: #ed3bff1f;
  --color-border-decorative-fuchsia-faded: #ca00e44d;
  --color-foreground-decorative-green: #36e16c;
  --color-background-decorative-green-faded: #00c04c1f;
  --color-border-decorative-green-faded: #009f294d;
  --color-foreground-decorative-grey: #acbfdc;
  --color-background-decorative-grey-faded: #8da0bb1f;
  --color-border-decorative-grey-faded: #6f829c4d;
  --color-foreground-decorative-light-grey: #bdbebe;
  --color-on-background-primary: #ffffff;
  --color-background-decorative-light-grey-faded: #9e9e9e1f;
  --color-on-background-critical: #ffffff;
  --color-on-background-warning: #ffffff;
  --color-on-background-positive: #ffffff;
  --color-on-background-upgrade: #ffffff;
  --color-persistent-white: #ffffff;
  --color-decorative-light-grey-border: #edeff3;
  --color-foreground-decorative-orange: #ff9b2d;
  --color-background-decorative-orange-faded: #ef7a001f;
  --color-border-decorative-orange-faded: #cc5a004d;
  --color-foreground-decorative-pink: #ff6bc7;
  --color-background-decorative-pink-faded: #ff46a81f;
  --color-foreground-decorative-purple: #ca95ff;
  --color-background-decorative-purple-faded: #ab73ff1f;
  --color-border-decorative-purple-faded: #8e51ff4d;
  --color-border-decorative-pink-faded: #e112894d;
  --color-foreground-decorative-red: #ff6f5e;
  --color-background-decorative-red-faded: #ff4a3d1f;
  --color-border-decorative-red-faded: #ed17174d;
  --color-foreground-decorative-teal: #1adbc3;
  --color-background-decorative-teal-faded: #00baa41f;
  --color-border-decorative-teal-faded: #009a864d;
  --color-foreground-decorative-yellow: #eab600;
  --color-background-decorative-yellow-faded: #c996001f;
  --color-border-decorative-yellow-faded: #a977004d;
  --color-primary-primary-200: #edf5ff;
  --color-primary-primary-400: #d0e2ff;
  --color-primary-primary-500: #8cb4ff;
  --color-primary-primary-600: #0f62fe;
  --color-primary-primary-700: #004ee1;
  --color-primary-primary-800: #104fc6;
  --color-red-red-100: #fef1f2;
  --color-red-red-600: #cb101d;
  --color-white: #ffffff;
  --color-neutral-neutral-100-opaque: #141a2b05;
  --color-neutral-neutral-200-opaque: #182d660a;
  --color-neutral-neutral-400: #606981;
  --color-neutral-neutral-500: #c7cddb;
  --color-neutral-neutral-900: #14171f;
  --color-green-green-100: #ebfef6;
  --color-green-green-600: #05751f;
  --color-purple-purple-100: #f5f2fd;
  --color-purple-purple-600: #874ce6;
  --color-purple-purple-700: #6a2bbf;
  --color-orange-orange-100: #fef8eb;
  --color-orange-orange-200: #fbe5c5;
  --color-orange-orange-500: #cc4d00;
  --color-orange-orange-600: #b53c0a;
  /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel enim id erat vestibulum luctus. */
  --color-00-01: #ffffff;
  /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel enim id erat vestibulum luctus. */
  --color-00-02: #953333;
  /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel enim id erat vestibulum luctus. */
  --color-00-03: #a2a731;
  --color-palette-green-green-1100: #0e2a21;
  --color-palette-green-green-1000: #1c4130;
  --color-palette-green-green-900: #2d6944;
  --color-palette-green-green-800: #3c884d;
  --color-palette-green-green-700: #4ca45a;
  --color-palette-green-green-600: #5ab261;
  --color-palette-green-green-500: #78c767;
  --color-palette-green-green-400: #8fda75;
  --color-palette-green-green-300: #a9e297;
  --color-palette-green-green-200: #ccf0c2;
  --color-palette-green-green-100: #ddf3d9;
  --color-palette-green-green-0: #eef9ec;
  --color-palette-blue-blue-1100: #082036;
  --color-palette-blue-blue-1000: #18395d;
  --color-palette-blue-blue-900: #245685;
  /* This is our new main color :) */
  --color-palette-blue-blue-800: #306ca5;
  --color-palette-blue-blue-700: #3a79bd;
  --color-palette-blue-blue-600: #4587cd;
  --color-palette-blue-blue-500: #5196dd;
  --color-palette-blue-blue-400: #6aacef;
  --color-palette-blue-blue-300: #aad2f4;
  --color-palette-blue-blue-200: #cde3f7;
  --color-palette-blue-blue-100: #e0f1fe;
  --color-palette-blue-blue-0: #ecf8fe;
  /* Darkest aqua there is */
  --color-palette-aqua-aqua-1100: #0b2737;
  /* Slightly less aquatic, still deep as an ocean */
  --color-palette-aqua-aqua-1000: #193c4d;
  --color-palette-aqua-aqua-900: #265d71;
  --color-palette-aqua-aqua-800: #316c82;
  --color-palette-aqua-aqua-700: #3a8396;
  --color-palette-aqua-aqua-600: #4295ab;
  --color-palette-aqua-aqua-500: #54b5cb;
  --color-palette-aqua-aqua-400: #6ad3df;
  --color-palette-aqua-aqua-300: #91e2e1;
  --color-palette-aqua-aqua-200: #b5f0f1;
  --color-palette-aqua-aqua-100: #d0f7f8;
  --color-palette-aqua-aqua-0: #e0fbfb;
  --color-palette-purple-purple-1100: #1d1e36;
  --color-palette-purple-purple-1000: #2b2667;
  --color-palette-purple-purple-900: #453e96;
  --color-palette-purple-purple-800: #5a52b4;
  --color-palette-purple-purple-700: #6b62cc;
  --color-palette-purple-purple-600: #7d73e2;
  --color-palette-purple-purple-500: #8d84ed;
  --color-palette-purple-purple-400: #9e95ec;
  --color-palette-purple-purple-300: #c0c2f3;
  --color-palette-purple-purple-200: #d8d8f6;
  --color-palette-purple-purple-100: #eaeaf8;
  --color-palette-purple-purple-0: #f2f2f8;
  --color-palette-neutral-neutral-1100: #040404;
  --color-palette-neutral-neutral-1000: #182020;
  --color-palette-neutral-neutral-900: #293333;
  --color-palette-neutral-neutral-800: #384141;
  --color-palette-neutral-neutral-700: #545e5f;
  --color-palette-neutral-neutral-600: #70797a;
  --color-palette-neutral-neutral-500: #939a9b;
  --color-palette-neutral-neutral-400: #b1b6b7;
  --color-palette-neutral-neutral-300: #c9cccc;
  --color-palette-neutral-neutral-200: #dfe1e1;
  --color-palette-neutral-neutral-100: #f3f4f4;
  --color-palette-neutral-neutral-0: #ffffff;
  --color-palette-teal-teal-1100: #0b2427;
  --color-palette-teal-teal-1000: #1b3e3e;
  --color-palette-teal-teal-900: #2a6461;
  --color-palette-teal-teal-800: #357a7b;
  --color-palette-teal-teal-700: #42948e;
  --color-palette-teal-teal-600: #4aa69c;
  --color-palette-teal-teal-500: #58c1b2;
  --color-palette-teal-teal-400: #6addc6;
  --color-palette-teal-teal-300: #97e7d5;
  --color-palette-teal-teal-200: #c0f0e6;
  --color-palette-teal-teal-100: #d5f6ef;
  --color-palette-teal-teal-0: #e9f8f5;
  --color-palette-pink-pink-1100: #281821;
  --color-palette-pink-pink-1000: #4f1930;
  --color-palette-pink-pink-900: #872647;
  --color-palette-pink-pink-800: #a43b5b;
  --color-palette-pink-pink-700: #be4466;
  --color-palette-pink-pink-600: #cf517c;
  --color-palette-pink-pink-500: #de638b;
  --color-palette-pink-pink-400: #ee7fad;
  --color-palette-pink-pink-300: #f19bc0;
  --color-palette-pink-pink-200: #f4b8d4;
  --color-palette-pink-pink-100: #f7dcea;
  --color-palette-pink-pink-0: #fbeaf2;
  --color-palette-red-red-1100: #281212;
  --color-palette-red-red-1000: #641c18;
  --color-palette-red-red-900: #8d2d28;
  --color-palette-red-red-800: #b6403b;
  --color-palette-red-red-700: #ca4b45;
  --color-palette-red-red-600: #dc584a;
  --color-palette-red-red-500: #e56a5b;
  --color-palette-red-red-400: #ef8674;
  --color-palette-red-red-300: #f1a193;
  --color-palette-red-red-200: #f4bbb3;
  --color-palette-red-red-100: #f8d7d3;
  --color-palette-red-red-0: #fbebe9;
  --color-palette-orange-orange-1100: #2a140f;
  --color-palette-orange-orange-1000: #581d09;
  --color-palette-orange-orange-900: #8a341a;
  --color-palette-orange-orange-800: #bf5c29;
  --color-palette-orange-orange-700: #de763a;
  --color-palette-orange-orange-600: #e68246;
  --color-palette-orange-orange-500: #ee8e53;
  --color-palette-orange-orange-400: #f2a069;
  /* This is our main color. And this description will show inside the documentation */
  --color-palette-orange-orange-300: #f4b388;
  --color-palette-orange-orange-200: #f6c7a9;
  --color-palette-orange-orange-100: #f7ddce;
  --color-palette-orange-orange-0: #fceee4;
  --color-palette-yellow-yellow-1100: #2a1b08;
  --color-palette-yellow-yellow-1000: #4e2c0b;
  --color-palette-yellow-yellow-900: #8b4f1f;
  --color-palette-yellow-yellow-800: #b0772a;
  --color-palette-yellow-yellow-700: #d49b35;
  --color-palette-yellow-yellow-600: #f6be41;
  --color-palette-yellow-yellow-500: #f8ce4c;
  --color-palette-yellow-yellow-400: #fad961;
  --color-palette-yellow-yellow-300: #fbe17f;
  --color-palette-yellow-yellow-200: #fbe9a4;
  --color-palette-yellow-yellow-100: #fbeed1;
  --color-palette-yellow-yellow-0: #fef8e4;
  --color-palette-magenta-magenta-1100: #271a2c;
  --color-palette-magenta-magenta-1000: #3f1a4e;
  --color-palette-magenta-magenta-900: #642a73;
  --color-palette-magenta-magenta-800: #854091;
  --color-palette-magenta-magenta-700: #a04da3;
  --color-palette-magenta-magenta-600: #b659b4;
  --color-palette-magenta-magenta-500: #cc6bd5;
  --color-palette-magenta-magenta-400: #e38aef;
  --color-palette-magenta-magenta-300: #e3b1ee;
  --color-palette-magenta-magenta-200: #ecc7f4;
  --color-palette-magenta-magenta-100: #f5e4fa;
  --color-palette-magenta-magenta-0: #fcf0fe;
  --color-semantic-warning-warning-background: #ffffff;
  --color-foreground-primary-faded: #75b9ff;
  --color-foreground-critical-faded: #ff7b7b;
  --color-foreground-warning-faded: #ff9561;
  --color-foreground-positive-faded: #71d887;
  --color-foreground-upgrade-faded: #ca8bff;
  --color-background-blur-neutral-faded: #f4f5f7f2;
  --color-background-decorative-blue: #2b7fff;
  --color-background-decorative-cyan: #00d3f2;
  --color-background-decorative-teal: #00d5be;
  --color-background-decorative-green: #31de69;
  --color-background-decorative-yellow: #fcc801;
  --color-background-decorative-orange: #ff8904;
  --color-background-decorative-red: #fb2e27;
  --color-background-decorative-pink: #f6339a;
  --color-background-decorative-fuchsia: #e12afb;
  --color-background-decorative-purple: #8e51ff;
  --color-background-decorative-grey: #62748e;
  --color-background-decorative-light-grey: #d4d4d4;
  --color-on-background-decorative-blue: #ffffff;
  --color-on-background-decorative-cyan: #001e3a;
  --color-on-background-decorative-teal: #002116;
  --color-on-background-decorative-green: #002500;
  --color-on-background-decorative-yellow: #421100;
  --color-on-background-decorative-orange: #350000;
  --color-on-background-decorative-red: #ffffff;
  --color-on-background-decorative-pink: #ffffff;
  --color-on-background-decorative-fuchsia: #ffffff;
  --color-on-background-decorative-purple: #ffffff;
  --color-on-background-decorative-grey: #ffffff;
  --color-on-background-decorative-light-grey: #262626;
  --color-border-decorative-blue: #66bbff;
  --color-border-decorative-cyan: #06d4f3;
  --color-border-decorative-teal: #1adbc3;
  --color-border-decorative-green: #36e16c;
  --color-border-decorative-yellow: #eab600;
  --color-border-decorative-orange: #ff9b2d;
  --color-border-decorative-red: #ff6f5e;
  --color-border-decorative-pink: #ff6bc7;
  --color-border-decorative-fuchsia: #ff65ff;
  --color-border-decorative-purple: #ca95ff;
  --color-border-decorative-grey: #acbfdc;
  --color-border-decorative-light-grey: #bdbebe;
  --color-border-decorative-light-grey-faded: #8080804d;
  --color-orange-orange-400: #ff9250;
  /* Used for error backgrunds */
  --color-semantic-error-error-background: var(--color-palette-red-red-100);
  --color-semantic-error-error-border: var(--color-palette-red-red-600);
  --color-semantic-error-error-color: var(--color-palette-red-red-800);
  --color-semantic-error-error-icon: var(--color-palette-red-red-800);
  --color-semantic-info-info-background: var(--color-palette-blue-blue-100);
  --color-semantic-info-info-border: var(--color-palette-blue-blue-500);
  --color-semantic-info-info-color: var(--color-palette-blue-blue-700);
  --color-semantic-info-info-icon: var(--color-palette-blue-blue-800);
  --color-semantic-opportunity-opportunity-background: var(--color-palette-teal-teal-100);
  --color-semantic-opportunity-opportunity-border: var(--color-palette-aqua-aqua-300);
  --color-semantic-opportunity-opportunity-color: var(--color-palette-aqua-aqua-800);
  --color-semantic-opportunity-opportunity-icon: var(--color-palette-aqua-aqua-700);
  --color-semantic-primary-hover-innactive-background: var(--color-palette-yellow-yellow-400);
  --color-semantic-primary-primary-active-background: var(--color-palette-yellow-yellow-600);
  --color-semantic-primary-primary-background: var(--color-palette-yellow-yellow-500);
  --color-semantic-primary-primary-border: var(--color-palette-yellow-yellow-600);
  --color-semantic-primary-primary-color: var(--color-palette-yellow-yellow-1100);
  --color-semantic-primary-primary-hover-background: var(--color-palette-yellow-yellow-600);
  --color-semantic-primary-primary-hover-color: var(--color-palette-yellow-yellow-1000);
  --color-semantic-primary-primary-innactive-background: var(--color-palette-yellow-yellow-200);
  /* Some test description */
  --color-semantic-sale-sale30-background: var(--color-palette-teal-teal-500);
  --color-semantic-sale-sale50-background: var(--color-palette-pink-pink-600);
  --color-semantic-sale-sale70-background: var(--color-palette-yellow-yellow-600);
  --color-semantic-sale-sale-color: var(--color-palette-neutral-neutral-0);
  --color-semantic-success-success-background: var(--color-palette-green-green-100);
  --color-semantic-success-success-border: var(--color-palette-green-green-400);
  --color-semantic-success-success-color: var(--color-palette-green-green-900);
  --color-semantic-success-success-icon: var(--color-palette-green-green-800);
  --color-semantic-text-text-body: var(--color-palette-orange-orange-1000);
  --color-semantic-text-text-headline: var(--color-palette-orange-orange-1100);
  --color-semantic-text-text-inverse: var(--color-palette-neutral-neutral-0);
  --color-semantic-text-text-subtext: var(--color-palette-neutral-neutral-700);
  --color-semantic-warning-warning-border: var(--color-palette-yellow-yellow-600);
  --color-semantic-warning-warning-color: var(--color-palette-yellow-yellow-900);
  --color-semantic-warning-warning-icon: var(--color-palette-yellow-yellow-800);
}